/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
scarpe_results.txt
**/.DS_Store
logger/*.log
/docs/yard/template/default/doc
/docs/yard/template/default/.yardoc
**/lacci-*.gem
*scarpe*.gem
**/sspec.json
