---
name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - name: Install dependencies
        run: brew install pkg-config portaudio
      - name: Configure library dirs from Homebrew for gems w/ native extensions
        run: bundle config build.bloops --with-portaudio-dir=`brew --prefix portaudio`
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      # Currently failing
      # - name: Run Lacci tests
      #   run: CI_RUN='true' bundle exec rake lacci_test
      - name: Run Scarpe-Component tests
        run: CI_RUN='true' bundle exec rake component_test
      - name: Run Scarpe tests
        run: CI_RUN='true' bundle exec rake test
      - name: Check HTML output
        run: bundle exec rake test:check_html_fixtures
      - name: upload test-fail logs
        if: !cancelled()
        uses: actions/upload-artifact@v4
        with:
          name: test failure logs
          path: logger/test_failure*.out.log
  # linter:
  #   name: Linter
  #   runs-on: macos-latest
  #   timeout-minutes: 10
  #   steps:
  #     - name: Install dependencies
  #       run: brew install pkg-config portaudio
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #     - name: Setup Ruby and install gems
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         bundler-cache: true
  #     - name: Run linter
  #       run: bundle exec rubocop
